name: terraform-openprovider-releaser
on:
  push:
    tags:
      - 'v0.0.1'

jobs:
  run:
    runs-on:
        - ubuntu-latest
    steps:
      - name: Setup
        uses: actions/setup-go@v1
        with:
          go-version: 1.21.x

      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}

      - name: Create Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: 'v0.0.1'
          release_name: 'Release v0.0.1'
          body: 'first release'